*{
    font-family: 'Noto Sans', sans-serif;
    
}
h5{
    font-weight: bold;
    color: #0074e4;
    font-family: 'PT Sans', sans-serif;
}

.footer{
    width: 100%;
    height: 61px;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #abb4bd;
}