<div class="dropdown">
  <div class="dropdown-toggle" data-toggle="dropdown" >
     profile <span class="caret"></span>
  </div>
  <ion-list class="dropdown-menu" lines=none>
    <ion-item>
      <ion-icon slot="start" name="add"></ion-icon>
      <p>Setting</p> 
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="add"></ion-icon>
      <p>Darktheme</p> 
      <ion-toggle color="primary"  slot="end" (click)="notification()" class="ml-3"></ion-toggle>
    </ion-item>
     <ion-item>
       <ion-icon slot="start" name="add"></ion-icon>
       <p>profile</p> 
     </ion-item>
     <ion-item>
        <ion-icon slot="start" name="add"></ion-icon>
        <p>Notification</p> 
        <ion-toggle color="primary"   (click)="notification()" class="ml-3"></ion-toggle>
     </ion-item>
  </ion-list>
</div>