<ion-fab vertical="top" horizontal="end" size="small" slot="fixed">
    <ion-fab-button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="../../assets//image//menu.svg" alt="" srcset="">
    </ion-fab-button>
  </ion-fab>

  <div class="dropdown">
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>