<!-- <app-menu></app-menu>

<super-tabs>
  <super-tabs-toolbar toolbarPosition="bottom" slot="bottom">
    <super-tab-button>
      <ion-icon></ion-icon>
      <ion-label>
        home
      </ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-icon></ion-icon>
      <ion-label>
        about
      </ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-icon></ion-icon>
      <ion-label>
        contact
      </ion-label>
    </super-tab-button>
      <super-tab-button>
      <ion-icon></ion-icon>
      <ion-label>
        infomation
      </ion-label>
    </super-tab-button>
  </super-tabs-toolbar>


<super-tabs-container>
  <super-tab>
    <ion-content>
      <ion-nav [root]="home" ></ion-nav>
    </ion-content>
  </super-tab>
  <super-tab>
    <ion-content>
      about
    </ion-content>
  </super-tab>
  <super-tab>
    <ion-content>
      contact
    </ion-content>
  </super-tab>
  <super-tab>
    <ion-content>
      infomation
    </ion-content>
  </super-tab>
</super-tabs-container>

</super-tabs>

 -->
























<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon   name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="active" tab="Update">
      <ion-icon name="square"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="active" tab="course">
      <ion-icon name="square"></ion-icon>
      <ion-label>course</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="active" tab="service">
      <ion-icon name="square"></ion-icon>
      <ion-label>service</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
