<ion-header>
  <ion-toolbar>  
     <ion-buttons slot="start">
      <ion-back-button defaultHref="news"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <h3 class="text-bold">internet Society Board of Trustees Meeting </h3>
    </ion-item>
    <ion-item>
      <img class="img-fluid" src="../../../../assets//image//couserbg1.jpg" alt="">
    </ion-item>
    <ion-item>
     <p>
       Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Et unde quia in odio
        repellat, aut labore quasi ut expedita accusantium
         id tempore eligendi nisi accusamus quidem suscipit,
          distinctio corporis minus.
     </p>
    </ion-item>
  </ion-list>
</ion-content>
