*{
    margin: 0px;
}
h4{
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    color: #0074e4;
}
ion-input{
    width:15%;
    border-bottom: 1px solid black;
    float: left;
    margin: 0% 5% 5% 5%;
    text-align: center;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    font-size: 35px;
}

