
<ion-content>  
  <ion-item class="ion-no-padding" lines="none" > 
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-item>
<ion-list class="ion-padding form">
 
  <ion-item lines="none" class="">
    <div>
      <h3 class="">SignUp</h3>
      <p>sign in to countinue</p>  
    </div>
  </ion-item>
  
  <ion-item class="mt-4 ">
    <ion-label position="floating" >UserName</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label  position="floating">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label  position="floating">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>
 
  <div class="text-center mt-5">
    <div class="buttons">
      <button class="blob-btn"(click)="login('home')" >
        Sign up
        <span class="blob-btn__inner">
          <span class="blob-btn__blobs">
            <span class="blob-btn__blob"></span>
            <span class="blob-btn__blob"></span>
            <span class="blob-btn__blob"></span>
            <span class="blob-btn__blob"></span>
          </span>
        </span>
      </button>
    
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
          <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
        </filter>
      </defs>
    </svg>
    </div>
       <p class="text-muted mt-4">Or via social media </p>
  </div>
  <ion-item lines="none" class="social-media">
    <ion-fab-button class="m-2 ">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="danger" class="m-2 animated slideInUp faster">
      <ion-icon name="logo-google"></ion-icon>
    </ion-fab-button>
    <ion-fab-button class=" m-2 animated slideInUp fast">
      <ion-icon name="logo-twitter"></ion-icon> 
    </ion-fab-button>
    </ion-item>
  <div class="text-center mt-3">
   <p class="ml-2">Don't Have an account?
     <strong [routerLink]="['/signup']" routerLinkActive="router-link-active"  class="text-primary">Sign up</strong></p>  
  </div>
</ion-list>
</ion-content>
