
<ion-content>
<ion-list lines="none">
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets//image//couserbg1.jpg">
    </ion-avatar>
    <ion-label>
      <h2 class="title">Hi Osasu</h2>
      <h3 class="text-muted">I'm a big deal</h3>
      <!-- <p>Listen, I've had a pretty messed up day...</p> -->
    </ion-label>
  </ion-item>


  <div >
    <div class="tariffCards">
      <div class="economy my-card">
        <img scr=""alt="logo">
        <h3>App Development</h3>
        <span>Develop an for </span>
      </div>
      <div class="my-card premiumeconomy">
        <img scr=""alt="logo">
        <h3>Web Development</h3>
        <span>Full Insurance</span>
      </div>
      <div class="my-card premiumeconomy">
        <img scr=""alt="logo">
        <h3>I.T consultant</h3>
        <span>Full Insurance</span>
      </div>
      <div class="first my-card">
        
        <img scr=""alt="logo">
        <h3>Ui/Ux</h3>
        <span>Full Insurance</span>
      </div>
    </div>
</div>    
<br>
  <!-- <ion-item class="mt-4">
      <div>
       <h4>Service</h4>
      <p class="text-small">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, nisi quasi. Atque omnis rerum modi vero soluta 
        laborum, vitae dignissimos numquam eum sint esse ipsam nihil facilis quasi nobis deleniti.
       
      </p>
      </div>
    </ion-item> -->
    </ion-list>
</ion-content>
